<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyw.office.dao.person.PositionMapper" >
  <resultMap id="BaseResultMap" type="com.cyw.office.entity.person.Position" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="POSI_NAME" property="posiName" jdbcType="VARCHAR" />
    <result column="POSI_DESC" property="posiDesc" jdbcType="VARCHAR" />
    <result column="POSI_LEVEL" property="posiLevel" jdbcType="DECIMAL" />
     <result column="totalCount" property="totalCount" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, POSI_NAME, POSI_DESC, POSI_LEVEL
  </sql>
  <select id="getPosiPage"  parameterType="java.util.HashMap"  resultMap="BaseResultMap">
  	select t.* from (
			select a.*, rownum as rowIndex
			from (
			 select t.*,
     	 	count(1) over() totalCount
			from t_position t
			<if test="order!=null and sort!=null">
				order by ${sort} ${order}
			</if>
			) a
		) t
		where t.rowIndex > #{start }
			  and t.rowIndex <![CDATA[ <=  ]]> #{end }
  </select>
  
  <select id="findPosiByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_position
    where posi_name = #{posiName,jdbcType=VARCHAR}
  </select>
  
  <select id="getComboPosi" resultType="com.cyw.office.entity.person.Position">
    select 
   	id,posi_name as posiName
    from t_position order by  posi_level asc
  </select>
  
  <insert id="insert" parameterType="java.util.HashMap" >
    insert into T_POSITION (ID, POSI_NAME, POSI_DESC, POSI_LEVEL)
    values (seq_t_position_id.nextval, #{posiName,jdbcType=VARCHAR}, #{posiDesc,jdbcType=VARCHAR}, 
      #{posiLevel,jdbcType=DECIMAL})
  </insert>
  
   <update id="updatePosi" parameterType="java.util.HashMap" >
    update T_POSITION
    <set >
      <if test="posiName != null" >
        POSI_NAME = #{posiName,jdbcType=VARCHAR},
      </if>
      <if test="posiDesc != null" >
        POSI_DESC = #{posiDesc,jdbcType=VARCHAR},
      </if>
      <if test="posiLevel != null" >
        POSI_LEVEL = #{posiLevel,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <!-- 删除职位信息 -->
  <delete id="deletePosiById" parameterType="java.lang.String" >
    delete from T_POSITION
    where ID in  
    <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
    	#{item}
    </foreach>
  </delete>
</mapper>