<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyw.office.dao.sys.ResourceMapper">
	<resultMap id="BaseResultMap" type="com.cyw.office.entity.sys.Resource">
		<id column="RESOURCE_CODE" property="resourceCode" jdbcType="VARCHAR" />
		<result column="ID" property="id" jdbcType="DECIMAL" />
		<result column="RESOURCE_NAME" property="resourceName"
			jdbcType="VARCHAR" />
		<result column="RESOURCE_DESC" property="resourceDesc"
			jdbcType="VARCHAR" />
		<result column="STATE" property="state" jdbcType="VARCHAR" />
		<result column="TYPE" property="type" jdbcType="VARCHAR" />
		<result column="ICONCLS" property="iconcls" jdbcType="VARCHAR" />
		<result column="URL" property="url" jdbcType="VARCHAR" />
		<result column="PARENT" property="parent" jdbcType="DECIMAL" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<select id="findResByUserCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select re.*
		from t_users u
		left join t_users_roles tur on u.user_code=tur.user_code
		left join t_roles r on tur.role_code = r.role_code
		left join t_roles_authorities tra on r.role_code = tra.role_code
		left join t_authorities au on tra.authority_code = au.authority_code
		left join t_authorities_resources tar on au.authority_code =
		tar.authority_code
		left join t_resources re on tar.resource_code = re.resource_code
		where u.user_code = #{userCode,jdbcType=VARCHAR}
	</select>
	<select id="findAllRes" resultMap="BaseResultMap">
		select * from t_resources
	</select>
	
	<select id="findResTree" resultMap="BaseResultMap">
		select * from t_resources  r where  r.parent=#{id}
	</select>
	
	<select id="getResPage" parameterType="java.util.HashMap"  resultType="com.cyw.office.entity.sys.Resource" >
	select t.* from (
			select a.*, rownum as rowIndex
			from (
			 select  re.id ,re.resource_code as resourceCode,re.resource_name as resourceName,
      		re.resource_desc as resourceDesc,re.state ,re.type ,re.iconcls,re.url,re.parent,re.remark ,
     	 	count(1) over() totalCount
			from t_resources re 
			<if test="order!=null and sort!=null">
				order by ${sort} ${order}
			</if>
			) a
		) t
		where t.rowIndex > #{start }
			  and t.rowIndex <![CDATA[ <=  ]]> #{end }
	</select>
</mapper>