<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyw.office.dao.sys.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.cyw.office.entity.sys.Role" >
    <id column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR" />
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="CREATEDATE" property="createdate" jdbcType="TIMESTAMP" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="totalCount" property="totalCount" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLE_CODE, ID, ROLE_NAME, CREATEDATE, CREATER, ENABLED, REMARK
  </sql>
   <!--  getRolePage -->
   <select id="getRolePage" parameterType="java.util.HashMap"  resultMap="BaseResultMap"  >
	select t.* from (
			select a.*, rownum as rowIndex
			from (
			 select r.*,
     	 	count(1) over() totalCount
			from t_roles r
			<if test="order!=null and sort!=null">
				order by ${sort} ${order}
			</if>
			) a
		) t
		where t.rowIndex > #{start }
			  and t.rowIndex <![CDATA[ <=  ]]> #{end }
	</select>
	
	<select id="findByRoleCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="Base_Column_List" />
	    from t_roles
	    where role_CODE = #{roleCode,jdbcType=VARCHAR}
	</select>
	
	<insert id="insert" parameterType="java.util.HashMap" >
    insert into T_ROLES (ID,ROLE_CODE,  ROLE_NAME, 
      CREATEDATE, CREATER,
      REMARK)
    values (seq_t_roles_id.nextval,#{roleCode,jdbcType=VARCHAR},#{roleName,jdbcType=VARCHAR}, 
      sysdate, #{creater,jdbcType=VARCHAR},  
      #{remark,jdbcType=VARCHAR})
  	</insert>
  	
  	<!-- 更新角色信息 -->
  <update id="updateByRoleCode" parameterType="java.util.HashMap" >
    update T_ROLES
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ROLE_CODE = #{roleCode,jdbcType=VARCHAR}
  </update>
  
  <!--删除角色  -->
  <delete id="deleteRolesByIds" parameterType="java.lang.String" >
    delete from T_ROLES
    where role_code in 
    <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
    	#{item}
    </foreach>
  </delete>
  
  <!-- 删除角色权限表  -->
   <delete id="deleteRoleAuthByRoleCode" parameterType="java.lang.String" >
    delete from t_roles_authorities
    where role_code =#{roleCode}
  </delete>
  <!-- 配置角色权限 -->
  <!-- configAuth -->
  <insert id="configAuth" parameterType="java.util.List" >
  	insert into t_roles_authorities (id, role_code, authority_code, creater, createdate, remark)
  	 select seq_t_role_auth_id.nextval ,A.* from(
    <foreach collection="list" item="item" index="index" separator="union all " >
       (select #{item.roleCode},#{item.authCode},#{item.creater},sysdate,null from dual)
    </foreach>
    )A
  </insert>
  
  <!-- 获取角色配置信息 -->
  <select id="getConfigRole"  resultType="com.cyw.office.entity.sys.Role" parameterType="java.lang.String" >
	    select tr.role_code as roleCode ,tr.role_name as roleName,
		case when tur.user_code is null then 'uncheck' else 'check' end as remark
		from t_roles tr
		left join t_users_roles tur  on tr.role_code = tur.role_code and tur.user_code=#{userCode}
	</select>
</mapper>